html{
    font-size: 100%;
}
body{
    background:linear-gradient(-20deg, #d65f5d 0%, #40b658 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.allform{
    background-color: gray;
    text-align: center;
    border:5px solid;
    margin:10px 25% 3% 25%;
}
.titlefont{
    font-size: 50px;
    color: black;
    border-bottom: 5px solid;
}
.content{
    text-align: left;
    font-size: 20px;
}
.name{
    border-bottom: 5px solid;
    padding-bottom: 30px;
}
.sex{
    margin-top: 20px;
    border-bottom: 5px solid;
    padding-bottom: 20px;
}
.carryitem{
    margin-top: 20px;
    border-bottom: 5px solid;
    padding-bottom: 20px;
}
.deal{
    margin-top: 20px;
    border-bottom: 5px solid;
    padding-bottom: 20px;
}
.mount{
    margin-top: 20px;
    border-bottom: 5px solid;
    padding-bottom: 20px;
}
.payway{
    margin-top: 20px;
    padding-bottom: 20px;
}
.confirm{
    margin-left: 50%;
    padding: 10px 10px 15px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    background: #3123ce;
    color: #ffffff;
}
.confirm:hover{
    font-size: 30px;
    background: #d65f5d;
}
a{
    text-decoration: none;
}