html{
    font-size: 100%;
}
body{
    line-height: 1.5;
    color: rgba(7,6,6,0.59);
}
.logo{
    width: 80px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
img{
    border-radius: 50px;
    max-width: 100%;
}
.had{
    display: flex;
    justify-content: space-between;
}
.ft{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 5%;
}
.navcs{
    display: flex;
    margin-top: 20px;
    list-style: none;
    font-weight: bold;
    font-size: 1.25rem;
}
.navcs li{
    margin-left: 20px;
}
.navcs a{
    color: #b0f160;
}
.navcs a:hover{
    font-size: 30px;
    color: #ce4b23;
}
.name{
    text-align: center;
    margin-top: 8%;
}
.name p{
    font-size: 3rem;
    margin: auto;
}
.button{
    padding: 10px 10px 15px 15px;
    border-radius: 8px;
    font-size: 1.2rem;
    background: #3123ce;
    color: #ffffff;
}
.button:hover{
    background: #ce4b23;
    font-size: 25px;
}
.bgs{
    background-image: url(Background.jpg);
    min-height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}
.titlename{
    color:#b0f160;
    font-family: 'Tilt Prism', cursive;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
.titleEng{
    color: #f1b760;
    font-family: 'Tilt Prism', cursive;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}