body{
    background:linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    width: 100%;
    height: 700px;
}
.title{
    text-align: center;
    font-size: 50px;
}
.information{
    margin-left: 8%;
}